
.skip-link {
    position: absolute;
    top: -40px; /* Ẩn khỏi màn hình */
    left: 0;
    background: #000;
    color: white;
    padding: 8px;
    z-index: 100;
}

.skip-link:focus {
    top: 0; 
}


nav {
    display: inline-block;
    width: 80%;
    border: 1px solid #ccc; 
    padding: 10px;
    margin-top: 20px;
    text-align: left;
}


nav img {
    width: 10%;
    vertical-align: middle; 
}



/
.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    list-style-type: none; 
    padding: 0;
    margin: 0;
    display: inline-flex; 
    width: 85%; 
    vertical-align: middle;
}

.flex li {
    padding: 10px;
    background-color: #f0f0f0;
    margin: 5px;
}


.grid {
    display: grid;
    
    grid-template-columns: 40% 40%; 
    justify-content: center;
    column-gap: 20px;
    row-gap: 20px;    
    margin-top: 20px;
}


.grid img {
    width: 100%;
    height: auto;
    border-radius: 8px; 
    object-fit: cover;
}
